<div class="padding">
    <h2>Coordonate your nightlife!</h2>
    <h3>with a little help from freeCodeCamp</h3>
</div>

<form action="/results" method="get">
    <input type="text" class="form-control" name="query" placeholder="Where are you?"></input>
    <button class="btn btn-primary" type="submit">Search nightclubs nearby</button>
</form>

<style>
    .padding, form {
        padding: 20px;
        text-align: center;
    }
    
    button {
        margin-top: 15px;
    }
    
    input {
        font-size: 24px !important;
        text-align: center !important;
        height: auto !important;
    }
</style>